body {
    background: purple;
    background-image: linear-gradient(to right, blue, ivory);
    /* display: relative; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 75px 50px 3fr;

}

#intro{
    /* margin: auto; */
  justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 300px; */
}
.container {
  grid-row: 3/4;
  grid-column: 2/3;
  border-radius: 15px;
    /* border: 3px solid black; */
    width: 450px;
    margin: 20px auto;
    height: 450px;
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: black; */   
}
.right{
  grid-column: 3/4;

}
.item {
    background: #F3F3F3;
}
#scroll{
  grid-column: 1/5;
  grid-row: 1/2;
}
#winnerMessage{
    grid-column: 3/4;
    grid-row: 3/4;
}
#message, #winner{
  
  grid-column: 1/2;
  grid-row : 3/4;
}



#zero {
  border-radius: 15px;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#one {
  border-radius: 15px;
  grid-row : 1/2;
  grid-column : 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#two { 
  border-radius: 15px;
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#three {
  border-radius: 15px;
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#four {
  border-radius: 15px;
   grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#five {
  border-radius: 15px;
   grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#six {
  border-radius: 15px;
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
 #seven {
  border-radius: 15px;
   grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#eight {
  border-radius: 15px;
   grid-row: 3/4;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.gbutton {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid blue;
  border-radius: 12px;
  padding: 10px 24px;
  font-style: italic;
}

.gbutton:hover {
  background-color: purple;
  /* color: white; */
}
.gbutton:active{
    background-color: crimson;
    border: 2px solid blueviolet
}
h1,h2{
   font-style: italic;
  
}
